@import '../../../../common/css/global/global';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    font-family: var(--code-font-primary);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.0);
    padding: 2rem;
    z-index: 1000;
    display: flex;
    justify-content: center;

    .navbar-title {
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        color: var(--primary-color);
        margin: 0;
        display: flex;
        align-items: start;
        justify-content: start;
        font-family: var(--code-font-tertiary);
        transform: scaleY(1.5);
    }
    
    .nav-links {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 3rem;
        width: 100%;
        align-items: start;

        a {
            text-decoration: none;
            color: #333;
            font-size: 1.2rem;
            transition: color 0.3s ease;
            display: block;
            text-align: center;
            width: auto;

            &:hover {
                color: #666;
            }
        }
    }

    .hamburger-menu {
        display: none;
    }
}

// Media query per dispositivi mobili
@media (max-width: 768px) {
    .navbar {
        width: 100%;
        height: auto;
        padding: 1rem;
        flex-direction: column;
        position: relative;
        
        .nav-links {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 1rem;
            
            &.active {
                display: flex;
            }

            a {
                width: 100%;
                padding: 0.5rem;
            }
        }

        .hamburger-menu {
            display: block;
            position: absolute;
            right: 1rem;
            top: 1rem;
        }
    }
}