.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1 0 auto;  // flex-grow: 1, flex-shrink: 0, flex-basis: auto
}

// Media query per dispositivi mobili
@media (max-width: 768px) {
    .layout {
        flex-direction: column;
        
        .main-content {
            margin-left: 0;
            width: 100%;
            margin-top: 60px; // Spazio per la navbar mobile
        }
    }
} 