@use '../../../common/css/global/global.scss';
.aboutpage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 10rem;

  @media (max-width: 768px) {
    padding: 0;
  }

  .container-aboutpage {
    max-width: 1200px;
    display: flex;
    gap: 2rem;
    align-items: center;
    
    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }

    .container-photo {
      flex: 1;
      
      img {
        width: 100%;
        height: auto;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        margin-left: 2rem;

        @media (max-width: 768px) {
          margin-left: 0;
        }
      }
    }

    .container-text {
      flex: 1;
      padding: 1rem;
      margin-left: 0.5rem;

      @media (max-width: 768px) {
        margin-left: 0;
      }

      p {
        font-weight: 700;
        margin-bottom: 1rem;
        font-size: 0.95rem;
        line-height: 1.6;
        font-family: var(--code-font-secondary);
        @media (max-width: 768px) {
          font-size: 1rem;
        }
      }
    }
  }
}