.container-aboutpage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.container-photo {
  width: 500px;
  height: 700px;
  margin-top: 100px;
  margin-left: 100px;
  object-fit: cover;

  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
  }
}

.container-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 100px;
  margin-top: 100px;

  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-top: 2rem;
  }

  p {
    font-family: var(--code-font-primary);
    font-size: 20px;
    font-weight: 400;
    color: var(--primary-color);

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}