.container-photo{
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.container-aboutpage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .container-text{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -400px;
    left: 100px;

    h1{
        font-size: 20px;
        font-style: italic;
        font-family: var(--code-font-primary);
        font-weight: 600;
        color: var(--color-primary);
    }
    

    }
}

@media screen and (max-width: 768px) {
  .container-photo {
    width: 100%;
    height: auto;
  }

  .container-aboutpage {
    flex-direction: column;
    padding: 20px;

    .container-text {
      position: static;
      top: 0;
      left: 0;
      padding: 20px;
      text-align: center;

      h1 {
        font-size: 18px;
      }
    }
  }
}