.footer {
    font-family: var(--code-font-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #f0f0f0;
    position: sticky;
    bottom: 0;
    margin-top: auto;
    width: 100%;
}