.homepage {
    font-family: var(--code-font-primary);
}

.my-masonry-grid {
    display: flex;
    width: auto;
  }
  
  .my-masonry-grid_column {
    padding-left: 30px; /* spazio tra le colonne */
    background-clip: padding-box;

    @media (max-width: 768px) {
        padding-left: 0;
    } 
  }
  
  .my-masonry-grid_column > img {
    margin-bottom: 30px; /* spazio tra le righe */
    width: 100%;
  }

  .grid-image{
    border-radius: 5px;
    transition: all 0.3s ease;
    &:hover{
        transform: scale(1.01);
    }
  }

  .latest-works {
    font-family: var(--code-font-primary);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-primary);
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 20px;
    a {
        text-decoration: none;
        color: var(--color-primary);
    }
  }